extends ./layouts/main.pug

block content
  include navbar.pug
    .container
      .site
        .row
          .col.s3
            h5(align='center').orange-text#text-darken-2 Profile
            .card-panel.grey.lighten-4
              .form-group(align='center')
                img.img-thumbnails(src='/images/profile/'+ username.image,style = "width: 200px; height:200px")
                br
                h4.indigo-text#text-darken-2=username.fullname


          .col.s5
            h5.orange-text.text-darken-2(align='center') Tweets....
            each book in res
              .row
                .card-panel.grey.lighten-4
                  p
                    h5.indigo-text#text-darken-2=book.fullname + '     Tweeted'
                    span= book.t_tweetText
                    br
                    .form-group
                    - if(book.t_image){
                       img.img-thumbnails(src='/images/tweetimage/'+ book.t_image, style = "width: 100%; height:100%")
                    - }
                    br
                    span= book.t_time
                    br
                    br
                    a(href='')#like.span.fa.fa-heart.fa-1x
                    |  &nbsp
                    span= book.t_likeCount
          .col.s3
            h5(align='center').orange-text#text-darken-2  My Followers
            each name in follow
              .card-panel.grey.lighten-4
                .form-group(align='center')
                  form(method='post', action='/unfollow')
                    .form-group(align='center')
                      .col.s2
                        img.img-circle(src='/images/profile/'+ name.image,width ="90px" height="90px",style= "margin-left:-15px")
                      .col.s1
                      h5.indigo-text#text-darken-2= name.fullname
                        input(type='hidden', name='myfollow', value = name.f_followerid)
                      button.waves-effect.waves-red.indigo.btn(type='submit',style= "margin-left:50px") Unfollow
                      br
                      br
                      br

  footer.page-footer.indigo
    .footer-copyright
      .container(align='center')
        | &copy; 2017 Developed By Vivek & Riddhi
